*{
  margin: 0;
  padding: 0;
}
#intro{
  background-color: aqua;
  color: black;
 
 
  font-size: 50px;
  margin: 20px;
  border: 70px solid aqua;
  padding: 50px;


}
hr{
  margin: 20px;
             
}
#name{
  margin: 20px;
  font-size: 25px;
  color: rebeccapurple;
}
body{
  background-color: antiquewhite;
}
#myself{
  font-size: 20px;
  margin: 20px;
}
#mysel{
  font-size: 20px;
  margin: 20px;
}
button{
  font-size: 15px;
 
}
#bttn{
  margin: 20px;
}
table,td,th{


  border: 1px solid black;
  border-collapse: collapse;
  padding: 15px;
}
caption{
  padding: 15px;
  color: burlywood;
  font-size: 30px;
}
img{
  width: calc( 100% - 20px ) ;
  
  padding: 20px;
}
#end{
  background-color: black;
  color: aliceblue;

 
  font-size: 50px;
  margin: 20px;
  
        border: 50px solid black;
        
        
}
#en{
  margin: 20px;
  font-size: 15px;
}
ul{
  margin: 20px;
  list-style-type: none;
  text-align: right;
  
}

li{
  display: inline;
 
  width: calc( 100% - 20px ) ;
}  
#bttn{
  width: 270px;
  height: 80px;
  border: none;
  outline: none;
  font-size: 20px;
  background-color: red;
  color: blue;
  text-align: center;
  box-shadow: inset 0 0 0 0 yellow;
  transition: ease-out .3s;
  

}
#bttn:hover{
  box-shadow: inset 270px 0 0 0 yellow;
}
abbr{
  text-decoration: none;
}
#href{

 margin: auto;
 width: 150px;
 background-color: yellowgreen;
 border-radius: 10px 10px;
 color: black;
 
 
 text-decoration: none;
 padding: 5px;
 border: none;
 
  
}
#href:link{
  color: whitesmoke;
  background-color:yellow;
  
  
}

#href:visited{
  color: whitesmoke;
  background-color:rgb(255, 94, 0);
  
  
}
#href:checked{
  color: whitesmoke;
  background-color:rgb(255, 0, 212);
  
  
}
#href:hover{
  color: black;
  background-color: rgb(255, 251, 0);
  transition: .2s;
  
}